* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #f2f2f2;
  }

  h1, body>div {
    text-align: center;
    margin-top:10rem ;
  }

  body > div {

  }
  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .skills {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  /*   top: 100px; */
    margin-top: 100px;
  }
  
  
  .skills:before,
  .skills:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .skills:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .skills:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .skills:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .skills-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .skills-slide img {
    height: 50px;
    margin: 0 40px;
  }
  